.form {
  width: 350px;
  background-color: rgb(255, 255, 255);
  margin: 100px auto;
  padding: 10px;
  border-radius: 3px;

  .new-contact {
    display: flex;
    flex-direction: column;
  }
  .new-contact > * {
    margin-top: 5px;
  }
}
